<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Competition Wise Transaction</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Rows per page</label>
                                            <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                                                    (ngModelChange)="onPageSizeChanged($event)">
                                                <option *ngFor="let opt of limitOptions"
                                                        [value]="opt.value">{{opt.key}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Date</label>
                                            <input type="text" class="form-control" matInput
                                                   ngxDaterangepickerMd
                                                   [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                                                   startKey="start"
                                                   endKey="end"
                                                   [(ngModel)]="selectedDate"
                                                   name="daterange"/>
                                        </div>
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Search By id</label>
                                            <input type="text" [(ngModel)]="filterData.id" name="id"
                                                   class="form-control"
                                                   id="id">
                                        </div>
                                        <div class="col-md-2 pull-left">
                                            <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                    (click)="filterMethod()">Filter
                                            </button>
                                        </div>
                                    </div>


                                    <ngx-datatable
                                        #myTable
                                        class='material'
                                        [columnMode]="'force'"
                                        [headerHeight]="40"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [externalPaging]="true"
                                        [count]="totalSize"
                                        [offset]="currentPage"
                                        [limit]=pageSize
                                        [rows]='rows'
                                        (page)="pageCallback($event)"
                                    >
                                        <ngx-datatable-column name="Competition Id">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Competition Name">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <!--                                        new-code[58, 63-70]-->
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Competition Type</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.competitionType}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Game Id</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.gameId}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Entry Amount">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Action</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <button type="button" class="btn btn-primary"
                                                        (click)="showDetails(row)">Details
                                                </button>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" *ngIf="!editBlock">Revoke Player</h4>
                <button type="button" class="btn btn-primary" (click)="revokeallData()">Revoke All
                </button>
            </div>
            <div class="modal-body">
                <ngx-datatable
                    #myTable
                    class='material'
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [externalPaging]="true"
                    [count]="detailstotalSize"
                    [offset]="detailscurrentPage"
                    [limit]=pageSize
                    [rows]='details'
                    (page)="detailPageCallback($event,rows)"
                >
                    <ngx-datatable-column name="Player Id">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Profile Name">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Entry Amount">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            <span>Action</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button type="button" class="btn btn-primary" (click)="revokeData(row)">Revoke
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
