<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Rewards Manager</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-3 pull-left">
                                    <button type="button" class="btn btn-primary" (click)="addConfiguration()">ADD
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Rows per page</label>
                                            <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                                                    (ngModelChange)="onPageSizeChanged($event)">
                                                <option *ngFor="let opt of limitOptions"
                                                        [value]="opt.value">{{opt.key}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <ngx-datatable
                                        #myTable
                                        class='material'
                                        [columnMode]="'force'"
                                        [headerHeight]="40"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [externalPaging]="true"
                                        [count]="totalSize"
                                        [offset]="currentPage"
                                        [limit]=pageSize
                                        [rows]='rows'
                                        (page)="pageCallback($event)"
                                    >
                                        <ngx-datatable-column name="Reward Master Id">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Reward Name">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <!--                                        new-code[58, 63-70]-->
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Reward Type</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.rewardType}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Reward Amount</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <strong>{{row.rewardAmount}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Keywords">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Is Active">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Description">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Created On">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Action</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <i class="fa fa-edit" style="cursor: pointer"
                                                   (click)="editConfiguration(row)"></i>
                                                <i class="fa fa-trash-o" style="cursor: pointer"
                                                   (click)="deleteConfig(row)"></i>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" *ngIf="!editBlock">Add Rewards</h4>
                <h4 class="modal-title" *ngIf="editBlock">Edit Rewards</h4>
            </div>
            <div class="modal-body">
                <form #transaction="ngForm">
                    <div class="form-group">
                        <label>Select Field:</label>
                        <select class="form-control" [(ngModel)]="configurationData.rewardName" name="rewardName"
                                (ngModelChange)="onPageMenuChanged($event)">
                            <option *ngFor="let opt of menuOptions"
                                    [value]="opt.value">{{opt.key}}</option>
                        </select>

                        <label>Reward Type</label>
                        <select class="form-control" [(ngModel)]="configurationData.rewardType" name="rewardType"
                                (ngModelChange)="onPageTypeChanged($event)">
                            <option *ngFor="let opt of typeOptions"
                                    [value]="opt.value">{{opt.key}}</option>
                        </select>

                        <label>Keywords</label>
                        <input type="text" class="form-control" placeholder="Keywords" name="keywords"
                               [(ngModel)]="configurationData.keywords">

                        <label>Reward Amount</label>
                        <input type="text" class="form-control" placeholder="Reward Amount" name="rewardamount"
                               [(ngModel)]="configurationData.rewardAmount">

                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="Description"
                               name="description" [(ngModel)]="configurationData.description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveConfiguration()"
                        [disabled]="transaction.form.invalid">Save
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
