<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">All Revoke History List</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-2 pull-left">
                      <label class="control-label">Rows per page</label>
                      <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                              (ngModelChange)="onPageSizeChanged($event)">
                        <option *ngFor="let opt of limitOptions"
                                [value]="opt.value">{{opt.key}}</option>
                      </select>
                    </div>
                    <!--<div class="col-md-2 pull-left">
                      <label class="control-label">Start Date</label>
                      &lt;!&ndash;<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2"
                                      [dayTemplate]="t" outsideDays="hidden">
                      </ngb-datepicker>

                      <ng-template #t let-date let-focused="focused">
                          <span class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                          </span>
                      </ng-template>&ndash;&gt;
                      <input type="date" class="form-control" [(ngModel)]="filterData.startDate"
                             name="startDate" id="startDate">
                    </div>
                    <div class="col-md-2 pull-left">
                      <label class="control-label">End Date</label>
                      <input type="date" class="form-control" [(ngModel)]="filterData.endDate"
                             name="endDate" id="endDate">
                    </div>
                    <div class="col-md-2 pull-left">
                      <label class="control-label">Amount</label>
                      <input type="text" placeholder="10/20/30"
                             [(ngModel)]="filterData.amountFilter" name="amountFilter"
                             class="form-control"
                             id="amountFilter">
                    </div>
                    <div class="col-md-2 pull-left">
                      <button type="button" style="margin-top: 24px" class="btn btn-primary"
                              (click)="filterMethod()">Filter
                      </button>
                    </div>-->
                    <!--<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2"
                                        [dayTemplate]="t" outsideDays="hidden">
                        </ngb-datepicker>

                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                            </span>
                        </ng-template>-->
                    <!--                                        <input type="text" [(ngModel)]="mydate" name="daterange" value="01/01/2018 - 01/15/2018" />-->
                  </div>

                  <ngx-datatable
                          #myTable
                          class='material'
                          [columnMode]="'force'"
                          [headerHeight]="40"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [externalPaging]="true"
                          [count]="totalSize"
                          [offset]="currentPage"
                          [limit]=pageSize
                          [rows]='rows'
                          (page)="pageCallback($event)"
                  >

                    <ngx-datatable-column name="Transaction Id">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Player Id">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Profile Name">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Competition Id">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Currency Type">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
