<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Player Wise Transaction</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Rows per page</label>
                                            <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                                                    (ngModelChange)="onPageSizeChanged($event)">
                                                <option *ngFor="let opt of limitOptions"
                                                        [value]="opt.value">{{opt.key}}</option>
                                            </select>
                                        </div>
                                      <div class="col-md-2 pull-left">
                                        <label class="control-label">Search By Player id</label>
                                        <input type="text" [(ngModel)]="filterData.id" name="id"
                                               class="form-control" placeholder="PlayerId search"
                                               id="id">
                                      </div>
                                      <div class="col-md-2 pull-left">
                                        <label class="control-label">Search By Mobile Number</label>
                                        <input type="text" [(ngModel)]="filterData.number" name="number"
                                               class="form-control" placeholder="Mobile Number Search"
                                               id="number">
                                      </div>
                                      <div class="col-md-2 pull-left">
                                        <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                (click)="filterMethod()">Filter
                                        </button>
                                      </div>
                                    </div>

                                    <ngx-datatable
                                        #myTable
                                        class='material'
                                        [columnMode]="'force'"
                                        [headerHeight]="40"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [externalPaging]="true"
                                        [count]="totalSize"
                                        [offset]="currentPage"
                                        [limit]=pageSize
                                        [rows]='rows'
                                        (page)="pageCallback($event)"
                                    >
                                        <ngx-datatable-column name="Player Id">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Mobile Number">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Profile Name">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="280">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Action</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <button type="button" class="btn btn-primary"
                                                        (click)="showDetails(row)">Details
                                                </button>
                                                <button style="margin-left: 10px;" type="button" class="btn btn-primary"
                                                        (click)="personalRevoke(row)">Revoke
                                                </button>
                                                <button style="margin-left: 10px;" type="button" class="btn btn-primary"
                                                        (click)="personalAdminRevoke(row)">Re-Revoke
                                                </button>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" *ngIf="!editBlock">Revoke Player</h4>
            </div>
            <div class="modal-body">
                <ngx-datatable
                    #myTable
                    class='material'
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [externalPaging]="true"
                    [count]="detailstotalSize"
                    [offset]="detailscurrentPage"
                    [limit]=pageSize
                    [rows]='details'
                    (page)="detailPageCallback($event,rows)"
                >
                    <ngx-datatable-column name="Player Id">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Competition Id">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Competition Name">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Entry Amount">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <strong>{{value}}</strong>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            <span>Action</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button type="button" class="btn btn-primary" (click)="revokeData(row)">Revoke
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->


<div class="backdrop" [ngStyle]="{'display':display1}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" *ngIf="!editBlock">Revoke Player</h4>
            </div>
            <div class="modal-body">
                <form #transaction="ngForm">
                    <div class="form-group">
                        <label>Select Your Wallet Type</label>
                        <select class="form-control" name="updateWalletDrop" id="select-type-basic"
                                [(ngModel)]="updateWallet.type" required>
                            <option value="winningCashBalance" selected> winningCashBalance</option>
                            <option value="bonusCashBalance"> bonusCashBalance</option>
                            <option value="depositCashBalance"> depositCashBalance</option>
                            <option value="totalTokenBalance"> totalTokenBalance</option>
                        </select>

                        <label>Amount</label>
                        <input type="text" class="form-control" placeholder="amount" name="amount"
                               [(ngModel)]="updateWallet.amount" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveConfiguration()"
                        [disabled]="transaction.form.invalid">Save
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<div class="backdrop" [ngStyle]="{'display':display2}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display2}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" *ngIf="!editBlock">Re-Revoke Player</h4>
            </div>
            <div class="modal-body">
                <form #transaction="ngForm">
                    <div class="form-group">
                        <label>Select Your Wallet Type</label>
                        <select class="form-control" name="updateWalletDrop" id="updateWalletDrop"
                                [(ngModel)]="updateWallet.type" required>
                            <option value="winningCashBalance" selected> winningCashBalance</option>
                            <option value="bonusCashBalance"> bonusCashBalance</option>
                            <option value="depositCashBalance"> depositCashBalance</option>
                            <option value="totalTokenBalance"> totalTokenBalance</option>
                        </select>

                        <label>Amount</label>
                        <input type="text" class="form-control" placeholder="amount" name="amount"
                               [(ngModel)]="updateWallet.amount" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveRerevokeConfiguration()"
                        [disabled]="transaction.form.invalid">Save
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
