<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">All Transaction List</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Rows per page</label>
                                            <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                                                    (ngModelChange)="onPageSizeChanged($event)">
                                                <option *ngFor="let opt of limitOptions"
                                                        [value]="opt.value">{{opt.key}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Date</label>
                                            <input type="text" class="form-control" matInput
                                                   ngxDaterangepickerMd
                                                   [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                                                   startKey="start"
                                                   endKey="end"
                                                   [(ngModel)]="selectedDate"
                                                   name="daterange"/>
                                        </div>


                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Amount</label>
                                            <input type="text" placeholder="10/20/30"
                                                   [(ngModel)]="filterData.amountFilter" name="amountFilter"
                                                   class="form-control"
                                                   id="amountFilter">
                                        </div>
                                        <div class="col-md-2 pull-left">
                                            <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                    (click)="filterMethod()">Filter
                                            </button>
                                        </div>
                                    </div>

                                    <ngx-datatable
                                        #myTable
                                        class='material'
                                        [columnMode]="'force'"
                                        [headerHeight]="40"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [externalPaging]="true"
                                        [count]="totalSize"
                                        [offset]="currentPage"
                                        [limit]=pageSize
                                        [rows]='rows'
                                        (page)="pageCallback($event)"
                                    >

                                        <ngx-datatable-column name="Transaction Id">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Transaction Name">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Transaction Type">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Player Id">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Profile Name">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Currency Amount">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="Currency Type">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
<!--                                        <ngx-datatable-column>-->
<!--                                            <ng-template ngx-datatable-header-template>-->
<!--                                                <span>Action</span>-->
<!--                                            </ng-template>-->
<!--                                            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                                                <button type="button" class="btn btn-primary" [disabled]="(conditionAry.indexOf(row.transactionType) !== -1 || row.currentStatus === true)" (click)="revokeTransaction(row)">Revoke-->
<!--                                                </button>-->
<!--                                            </ng-template>-->
<!--                                        </ngx-datatable-column>-->
                                    </ngx-datatable>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
